<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body style="background-color:grey">
    <form action="/" method="post">
        <input type="text" name="email" placeholder="Email" required >
        <input type="password" name="passwd" placeholder = "Password" required>
        <button type="submit">Login</button>
    </form>

    <h1>OR</h1>

    <form action="/" method="post">
        <input type="text" name="email" placeholder="Email"  required>
        <input type="password" name="passwd" placeholder = "Password" required>
        <input type="password" name="confirm" placeholder = "Confirm Password" required>
        <button type="submit">Signup</button>
    </form>
    <h1>OR</h1>

    click <a href="/nosignup/timetable"> here</a> To start a quick view

    <h1>OR</h1>
    Login using <a href="/auth/google">Google+</a>
</body>
</html>
