<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style2.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:800|Montserrat" rel="stylesheet">
    <script src="/javascripts/scripts.js"></script>
    <script src="/javascripts/save_and_del.js"></script>
    <script src="/javascripts/predictions.js"></script>

</head>


<body>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">FFCS ON THE FLY</a>

        <ul id="nav-mobile" class="menu right hide-on-med-and-down">
            <li ><a href="#"><div class="m">MOCK FFCS</div></a></li>
            <li><a href="#"><div class="m">TEAM</div></a></li>
            <li><a href="#"><div class="m">CONTACT</div></a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid c1" >
    <div class="row">
        <div class="col-sm-4">
            <div id="title"><div class="font1">COURSE CODE/ COURSE TITLE<br></div>
                <div class="input-group i1">
                    <input type="text" id="i1" class="form-control f1" placeholder="Enter course code/course title">
                </div>
            </div>

            <div id="fac"><div class="font1">FACULTY<br></div>
                    <div class="input-group i1">
                        <input type="text" id="i1" class="form-control f1" placeholder="Enter faculty (optional)">
                    </div><BR>
                </div>
            </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-6 ">
            <!-- Switch -->
            <!-- Switch -->
            <div class="switch">
                <label>
                    LAB
                    <input type="checkbox" id="sw1">
                    <span class="lever"></span>
                    THEORY
                </label>
            </div>
            <div>
                <table class="slotTable">
                    <tbody>
                    <tr>
                        <td>A1</td>
                        <td>A2</td>
                        <td>A3</td>
                        <td>A1</td>
                        <td>A2</td>
                        <td>A3</td>

                    </tr>
                    <tr>
                        <td>B1</td>
                        <td>B2</td>
                        <td>B3</td>
                        <td>B1</td>
                        <td>B2</td>
                        <td>B3</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
<br><Br>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <div class="DataBase">
                <div class="row">
                <div class="col-sm-4 Col1">

                    <div id="fac1">
                        A1|SJT 305|Dr. Lorem Ipsum
                    </div>
                    <hr>
                    <div id="fac1">
                        A1|SJT 305|Dr. LoremIpsum
                    </div>
                    <hr>
                    <div id="fac1">
                        A1|SJT 305|Dr. LoremIpsum
                    </div>
                    <hr>
                    <div id="fac1">
                        A1|SJT 305|Dr. LoremIpsum
                    </div>
                    <hr>
                </div>
                <div class="col-sm-4 Col2">
                    <div id="fac1">
                        A1|SJT 305|Dr. LoremIpsum
                    </div>
                    <hr>
                    <div id="fac1">
                        A1|SJT 305|Dr. LoremIpsum
                    </div>
                    <hr>
                    <div id="fac1">
                        A1|SJT 305|Dr. LoremIpsum
                    </div>
                    <hr>
                    <div id="fac1">
                        A1|SJT 305|Dr. LoremIpsum
                    </div>
                    <hr>

                </div>
                <div class="col-sm-4 Col3">
                    <div id="fac1">
                        A1|SJT 305|Dr. LoremIpsum
                    </div>
                    <hr>
                    <div id="fac1">
                        A1|SJT 305|Dr. LoremIpsum
                    </div>
                    <hr>
                    <div id="fac1">
                        A1|SJT 305|Dr. LoremIpsum
                    </div>
                    <hr>
                    <div id="fac1">
                        A1|SJT 305|Dr. LoremIpsum
                    </div>
                    <hr>
                </div>


                </div>
            </div>
        </div>
        <div class="col-sm-4" align="right">
            <div id="credits" align="middle"><br><h4><b>20</b></h4>CREDITS</div>
        </div>
    </div>
</div>
<br><br>
<div class="container-fluid" align="middle">
    <table class="FFCStable">
        <tbody>
        <tr class="row1">
            <th class="slotHead">8:00 <br>to<br>8:50</th>
            <th class="slotHead">9:00 <br>to<br>9:50</th>
            <th class="slotHead">10:00 <br>to<br>10:50</th>
            <th class="slotHead">11:00 <br>to<br>11:50</th>
            <th class="slotHead">12:00 <br>to<br>12:50</th>
            <th class="slotHead">2:00 <br>to<br>2:50</th>
            <th class="slotHead">3:00 <br>to<br>3:50</th>
            <th class="slotHead">4:00 <br>to<br>4:50</th>
            <th class="slotHead">5:00 <br>to<br>5:50</th>
            <th class="slotHead">6:00 <br>to<br>6:50</th>

        </tr>
        <tr class="row1">
            <td class="slot">A1</td>
            <td class="slot">A2</td>
            <td class="slot">A3</td>
            <td class="slot">A1</td>
            <td class="slot">A2</td>
            <td class="slot">A3</td>
            <td class="slot">A1</td>
            <td class="slot">A1</td>
            <td class="slot">A1</td>
            <td class="slot">A1</td>

        </tr>
        <tr class="row1">
            <td class="slot">B1</td>
            <td class="slot">B2</td>
            <td class="slot">B3</td>
            <td class="slot">B1</td>
            <td class="slot">B2</td>
            <td class="slot">B3</td>
            <td class="slot">B2</td>
            <td class="slot">B3</td>
            <td class="slot">A1</td>
            <td class="slot">A1</td>
        </tr>
        <tr class="row1">
            <td class="slot">B1</td>
            <td class="slot">B2</td>
            <td class="slot">B3</td>
            <td class="slot">B1</td>
            <td class="slot">B2</td>
            <td class="slot">B3</td>
            <td class="slot">B2</td>
            <td class="slot">B3</td>
            <td class="slot">A1</td>
            <td class="slot">A1</td>
        </tr>
        <tr class="row1">
            <td class="slot">B1</td>
            <td class="slot">B2</td>
            <td class="slot">B3</td>
            <td class="slot">B1</td>
            <td class="slot">B2</td>
            <td class="slot">B3</td>
            <td class="slot">B2</td>
            <td class="slot">B3</td>
            <td class="slot">A1</td>
            <td class="slot">A1</td>
        </tr>
        <tr class="row1">
            <td class="slot">B1</td>
            <td class="slot">B2</td>
            <td class="slot">B3</td>
            <td class="slot">B1</td>
            <td class="slot">B2</td>
            <td class="slot">B3</td>
            <td class="slot">B2</td>
            <td class="slot">B3</td>
            <td class="slot">A1</td>
            <td class="slot">A1</td>
        </tr>

        </tbody>
    </table>
</div>
<br><br>
<br><br>



<div class="container-fluid c2" align="middle">
    <div id="text1" align="left"><b>SELECTED COURSES</b></div><br>
            <table class="selectedCourse">
            <tbody>
            <tr class="">
                <th class="secHead"><b>SLOT</b></th>
                <th class="secHead"><b>CODE</b></th>
                <th class="secHead"><b>TITLE</b></th>
                <th class="secHead"><b>VENUE</b></th>
                <th class="secHead"><b>FACULTY</b></th>
                <th class="secHead"><B>CREDITS</B></th>
            </tr>
            <tr >
                <td class="">A1</td>
                <td class="">CSE1003</td>
                <td class="">TITLE</td>
                <td class="">SJT305</td>
                <td class="">Dr. Lorem Ipsum</td>
                <td class="">4</td>
            </tr>
            <tr >
                <td class="">A1</td>
                <td class="">CSE1003</td>
                <td class="">TITLE</td>
                <td class="">SJT305</td>
                <td class="">Dr. Lorem Ipsum</td>
                <td class="">4</td>
            </tr>
            <tr >
                <td class="">A1</td>
                <td class="">CSE1003</td>
                <td class="">TITLE</td>
                <td class="">SJT305</td>
                <td class="">Dr. Lorem Ipsum</td>
                <td class="">4</td>
            </tr>
            <tr >
                <td class="">A1</td>
                <td class="">CSE1003</td>
                <td class="">TITLE</td>
                <td class="">SJT305</td>
                <td class="">Dr. Lorem Ipsum</td>
                <td class="">4</td>
            </tr>
            <tr >
                <td class="">A1</td>
                <td class="">CSE1003</td>
                <td class="">TITLE</td>
                <td class="">SJT305</td>
                <td class="">Dr. Lorem Ipsum</td>
                <td class="">4</td>
            </tr>
            </tbody>
            </table>
</div>
<br>
<div id="text2" align="middle" >Total Credits: 20</div><br>

<br><Br>


</body>
