<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/scripts.js"></script>
    <script src="/javascripts/predictions.js"></script>
    <script src="/javascripts/nosignup_script.js"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Index</title>
</head>
<center><body>
    <form action="/timetable" class="form" method="post">
        <input type="text" placeholder="CODE" name="CODE" id="code"> <br>
        <button type="submit" id="btn">submit</button>
    </form>

    <div id="predictions"></div><br>

    <h2 id="title">Course title</h2>

    <h3>Select the details</h3><br><br>

    <h3 id="courses"></h3>


    <h3 id="data"></h3>
    <br><br>


</body>
</center>
</html>
